<script
    src="https://cdnjs.cloudflare.com/ajax/libs/medium-zoom/1.0.6/medium-zoom.min.js"
    integrity="sha512-N9IJRoc3LaP3NDoiGkcPa4gG94kapGpaA5Zq9/Dr04uf5TbLFU5q0o8AbRhLKUUlp8QFS2u7S+Yti0U7QtuZvQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
></script>

<script>
    // Select all elements with alt text nammed img
    const images = Array.from(document.querySelectorAll("img[alt='Untitled']"));
    images.forEach((img) => {
        mediumZoom(img, {
            margin: 0 /* The space outside the zoomed image */,
            scrollOffset: 40 /* The number of pixels to scroll to close the zoom */,
            container: null /* The viewport to render the zoom in */,
            template: null /* The template element to display on zoom */,
        });
    });
</script>

<footer class="footer">
    <span class="footer_item"> </span>
    &nbsp;

    <div class="footer_social-icons">
        {{- partial "socialIcons.html" site.Params.socialIcons -}}
    </div>
    <small class="footer_copyright">
        © {{ now.Format "2006" }} {{ .Site.Params.author.name }}. All rights
        reserved.
    </small>
</footer>

{{- if .Site.Params.goToTop -}}
<a href="#" title="Go to top" id="totop">
    {{ partial "svgs/arrowUp.svg" (dict "height" 48 "width" 48) . }}
</a>
{{- end -}}
